@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Strangers In The Night Vanhackaton Team</h1>
    <p class="lead">This is a page to show some features of the project.</p>

    <p>Git: https://github.com/emersonmellado/vanhackaton-StrangersInTheNight-Team</p>
</div>